#loginbox {
  width: 50%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 50px;

  margin-left: auto;
  margin-right: auto;
  border: 1px solid #707070;
  border-radius: 5px;
  
}

#title {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#sitetitle {
    padding-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

